/* This style needs to be added into theme file. */
.display-posts-listing.image-left .listing-item {
	overflow: hidden;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
	transition: 0.3s;
}
.display-posts-listing.image-left .listing-item:hover {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.display-posts-listing.image-left .image {
	float: left;
	margin: 0 16px 0 0;
}

.display-posts-listing.image-left .title {
	display: block;
}

.display-posts-listing.image-left .excerpt-dash {
	display: none;
}
